name: main
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: cd packages/${{ matrix.package }}-config
      - run: bun install
      - run: bun run ci:format
      - run: bun run build
        if: github.ref == 'refs/heads/main'
      - run: bun publish
        if: github.ref == 'refs/heads/main'
    strategy:
      matrix:
        package: [ prettier, stylelint ]
